#box-recent,
#box-recovery {
  display: flex;
  flex-direction: column;
}

/* fixme: ask for actual status */
#box-recovery {
  .file-list-body,
  .file-list-head {
    .col-location,
    .col-date,
    .col-pin {
      display: none;
    }
  }

  .file-list-body .row {
    grid-template-columns: auto;
  }
}

.file-list-head,
.file-list-body .row {
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(320px, 1fr) 320px 130px;
  align-items: center;
  padding-left: 16px;
  padding-right: 120px;
}

.file-list-head {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background-action-panel);
  padding-bottom: 4px;
  font-weight: 600;
}

.file-list-body {
  display: flex;
  flex-direction: column;
  gap: 0;

  .row {
    position: relative;
    border-radius: 4px;
    padding: 8px 120px 8px 16px;
    cursor: pointer;

    &:nth-child(even) {
      background: var(--background-normal-element-light);
    }

    &:hover {
      background: var(--highlight-button-hover);
    }

    /*&.pinned {*/
    /*  background: var(--highlight-scroll-track-hover);*/
    /*}*/

    /* fixme: ask for actual status */

    &.lost {
      opacity: 0.4;
    }
  }
}

.col-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  display: flex;
  gap: 4px;

  button {
    width: 24px;
    height: 24px;
    padding: 0;
    /* background/fill-input/input */
    background: var(--background-action-panel);
    border: 1px solid var(--border-divider);
    border-radius: 2px;
    display: flex;
    align-items: center;

    svg.icon {
      fill: var(--background-icon-normal);
      stroke: var(--icon-normal);
      color: var(--icon-normal);
      width: 24px;
      height: 24px;
    }
  }
}

.col-name {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  .icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;

    .ext {
      color: var(--text-secondary);
    }
  }
}

.col-location {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-date {
  white-space: nowrap;
  text-align: right;

  p {
    margin: 0;
  }
}

.col-actions {
  .pin,
  .more {
    opacity: 0;
  }
}

.file-list-body .row.pinned .col-actions .pin {
  opacity: 1;
}

.file-list-body .row:hover .col-actions {
  .pin,
  .more {
    opacity: 1;
  }
}

@media (max-width: 1037px) {
  #box-recent {
    .file-list-head,
    .file-list-body .row {
      grid-template-columns: minmax(320px, 1fr) 130px;

      .col-location {
        display: none;
      }
    }
  }
}
