.tbox {
  color: var(--text-normal);
  border: 1px solid var(--border-regular-control);
  width: 100%;
  outline: 0;
  background: var(--background-normal);
  font-size: 14px;
  padding: 0 15px;
  height: 36px;
  border-radius: 3px;

  &:focus {
    border-color: var(--border-control-focus);
  }

  &::selection {
    background: var(--highlight-text-select);
    color: var(--text-inverse);
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.stub-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-tertiary);
  font-size: 16px;
}
